#ContainerGrupoCMCFondo {
    background-color: rgba(255,255,255,0);
    background-position: center center;
    background-repeat: no-repeat;padding-top:50px;padding-right:30px;padding-bottom:50px;
    padding-left:30px;
    margin-top: 20px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    min-height: 500px;
}