<div class="container theme-showcase" role="main">

      <div class="page-header">
	<h3 class="blog-title"><span class="label label-success">Nuevo Menu</span></h3>
      </div>

      <form method="post">
        <div class="row">
             <div class="col-sm-3">
            <div class="form-group">
              <label for="opcion" class="control-label">opcion</label>              
              <select id="opcion" name="opcion" class="form-control">
                <option value="1">menu padre1</option>
                <option value="2">pagos</option>
                                 
              </select>             
            </div> 
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="action">Action</label>
              <input type="text" class="form-control" name="action" id="action" />
            </div>  
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="opcion_name">opcion name</label>
              <input type="text" class="form-control" name="opcion_name" id="opcion_name" required="required" />
            </div>  
          </div>
       
          <div class="col-sm-3">
            <div class="form-group">
              <label for="pb_cod_produc" >cod_produc</label>              
               <input type="text" class="form-control" name="pb_cod_produc" id="pb_cod_produc" required="required" />
            </div> 
          </div>         
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="cod_serv">cod_serv</label>              
               <input type="text" class="form-control" name="pb_cod_serv" id="pb_cod_serv" required="required" />
            </div> 
          </div>     
          <div class="col-sm-3">
            <div class="form-group">
              <label for="cod_proc">cod_proc</label>             
              <input type="text" class="form-control" name="pb_cod_proc" id="pb_cod_proc" required="required" />
            </div>  
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label for="url">url</label>
              <input type="text" id="pb_url" name="pb_url" class="form-control" required="required" />
            </div> 
          </div>
        </div>

           
        
        <button type="submit" class="btn btn-danger" >Guardar</button>
      </form> 

      <hr class="featurette-divider">

  

    </div> <!-- /container -->