<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			
				<img src="admin/public/img/Logocmc.png"  style="margin: auto;" class="img-responsive" alt="">
			
			<div class="profile-usertitle">  
					</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		
		<ul class="nav menu">
			<li ><a href="/admin/user"><em class="fa fa-user">&nbsp;</em> Usuarios</a></li>
			<li><a href="/admin/menu"><em class="fa fa-bars">&nbsp;</em> Menu</a></li>
			<li><a href="/admin/junction"><em class="fa fa-connectdevelop">&nbsp;</em> Junction</a></li>
			
			</ul>
	</div><!--/.sidebar-->